.contacto img{
  width: 100%;
}

.title__contacto{
  display: grid;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  justify-content: center;
}

.formulario{
  display: grid;
  justify-content: center;
    form{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
}