.info{
  display: flex;
  background-color: #eee;
  &__title{
    font-weight: bold;
  }
  &__parrafo{
    margin: 0 20px;
    font-size: 20px;
  }
  & iframe{
    width: 50%;
  }
  & div{
    width: 50%;
  
  }

}
