*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  display: grid;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-image: url(/assets/images/fondo.jpg);
  background-position: center;
  background-size: cover;
  grid-template-areas: 
  "encabezado encabezado encabezado"
  "contenido  contenido  contenido"
  "footer     footer     footer";
}

ul{
  list-style-type: none;
}

span{
  display: none;
}

footer{
  background-color: white;
  width: 100%;
  bottom: 0;
  grid-area: footer;
  & h2{
    font-weight: bold;
    font-size: 15px;
  }
  & img{
    width: 30px;
  }  
}

.whatsapp {
  position: fixed;
  bottom: 6%;
  right: 3%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin templategrid($columns){
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  
}