.contenido__servicios{
  @include templategrid(2);
}

.title__servicios{
  display: grid;
  font-weight: bold;
  margin-bottom: 25px;
  width: 100%;
  grid-area: encabezado;
  justify-content: center;
}

.card{
  background-color: aqua;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 30px 50px -12px rgba(0, 0, 0, 65%);
  margin: 15px 20px;
  &__title{
    font-size: 25px;
    margin-bottom: 20px;
  }
  &__header-img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
  }
}

.my-cards{
  @include templategrid(2);
  grid-area: conenido;
  margin-top: 20px;
}